#page-confirmation #container {
    /* border: 2px solid black; */
    display: flex;
    margin: 0% 10%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

#page-confirmation .elementos {
    /* border: 2px solid black; */
    margin-top: 10%;
    height: 65%;
    width: 35%;
    padding: 5px;
}

#page-confirmation .select-box  {
    width: 29vw; 
    display: flex;
    flex-direction: column;
}

#page-confirmation .select-box select  {
    margin-bottom: 10px;
    border-radius: 9px;
    height: 6vh;
    background-color: rgba(128, 128, 128, 0.205);
    border: none;
    padding-left: 10px;
}

#page-confirmation .select-box #select1{
    margin-bottom: 25px;
}

#page-confirmation #select1, #select2{
    font-size: 15px;
}

#page-confirmation #button {
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 9px;
    padding: 5px;
    color: white; 
    text-align: center; 
    cursor: pointer; 
    height: 6vh;
    margin-top: 15px;
}

#page-confirmation #button p {
    font-size: 15px;
}

#page-confirmation .titulo{
    margin-top: 25px;
    font-size: 30px;
}

#page-confirmation .resumo {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}

#page-confirmation .mapa {
    border: 2px solid red;
    margin-top: 10%;
    height: 62vh;
    width: 40vw;
}