#container {
    /* border: 2px solid black; */
    margin: 3% 10%;
    height: auto;
    background-color:rgba(128, 128, 128, 0.205);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img {
    height: 27vh;
}

.star {
    /* border: 2px solid red; */
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    font-size: 13px;
    padding: 15px;
}

.titulo {
    display: flex;
    align-items: baseline;
}

#title b{
    font-size: 20px;
}

.titulo i .icon i  {
    margin-left: 1%;
}
#teste {
    margin-left: 1%;
}

#teste2 {
    margin-left: 0.5%;
    font-size: 12px;
}

.info {
    /* border: 2px solid red; */
    margin: 5%;   
}

.icon {
    display: flex;
    align-items: baseline;
    font-size: 13px;
}

.icon p {
    margin-left: 1%;
}


.box {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 40vh;
}

.qtd {
    display: flex;
}

.qtd p {
    margin-left: 1%;
    font-size: 13px;
}

.num {
    background-color:rgba(128, 128, 128, 0.205);
    height: 3.5vh;
    width: 1.3vw;   
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

.box button {
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 9px;
    padding: 5px;
    color: white; 
    text-align: center; 
    cursor: pointer; 
    height: 6vh;
    margin-top: 15px;
    width: 15vw;
    font-size: 12px;
    margin-right: 1%;
}

.botao {
    display: flex;
    flex-direction: row-reverse;
}