#container {
    /* border: 2px solid black; */
    /* margin: 3% 10%; */
    height: auto;
    background-color: var(--pink);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img {
    height: 27vh;
}

.star {
    /* border: 2px solid red; */
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    font-size: 13px;
    padding: 15px;
    color: yellow;
}

.titulo {
    display: flex;
    align-items: baseline;
}

#title b {
    font-size: 1.4rem;
    color: var(--text);
}


.titulo .fa-map i {
    font-size: 1px;
}

#teste {
    margin-left: 1%;
}

#teste2 {
    margin-left: 0.5%;
    font-size: 12px;
}

.info {
    /* border: 2px solid red; */
    margin: 5%;
}

.icon {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    margin: 1em 0;
}

#teste2 {
    font-size: 16px;
}

.icon p {
    margin-left: 1%;
}

.box {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #FAFAFA;
    height: 50vh;
}

.qtd {
    display: flex;
}

.qtd p {
    margin-left: 1%;
    font-size: 13px;
}


.box button {
    width: 20%;
    padding: 1rem 1rem;
    background: var(--pink);
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: .8rem;
    border: 0;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -2%;
}

.box button:hover {
    background: #d32455;
}

.botao {
    display: flex;
    flex-direction: row-reverse;
}

body {
    background: #f7f6f6;
    -webkit-font-smoothing: antialiased;
}

#page-create-point {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#page-create-point header {
    margin-bottom: -30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#page-create-point header a {
    color: var(--pink);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}
