#page-trip .section {
    margin-top: -6rem;
}

#page-trip .section-title {
    font-size: var(--h3-font-size);
    color: var(--text);
}

#page-trip .container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

#page-trip .grid {
    display: grid;
}

#page-trip .main {
    overflow: hidden;
}

#page-trip section.cards {
    margin-top: 3rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

#page-trip .card {
    background: #ffffff;
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
    max-width: 38.4rem;
    overflow: hidden;
}

#page-trip .card .content {
    display: grid;
    gap: 1.6rem;
    padding: 1.6rem;
    color: var(--text-color);
}

#page-trip .card h3 {
    color: var(--title-color);
    font-size: 1rem;
    line-height: 140%;
}

#page-trip .card p {
    color: var(--text-color);
    opacity: 0.75;
}

#page-trip .card a {
    font-weight: 500;
}

#page-trip .card .location {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    opacity: 0.75;
}

#page-trip button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: var(--body-font);
}

#page-trip .button {
    display: inline-block;
    background-color: var(--purple);
    color: #FFF;
    padding: .8rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer;
    width: 130px;

}

#page-trip .button:hover {
    background-color: rgb(129, 38, 220);
}


@media screen and (max-width: 320px) {
    #page-trip .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

@media (max-width: 500px) {
    #page-trip section.cards {
        grid-template-columns: 1fr;
    }

    #page-trip .card img {
        width: 100%;
    }

    #page-trip .card {
        max-width: 100%;
    }
}

@media (max-width: 660px) {
    #page-trip section.cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 767px) {
    #page-trip body {
        margin: 0;
    }
}

@media (max-width: 870px) {
    #page-trip header .content {
        padding: 4rem;
    }

    #page-trip header form {
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    #page-trip .container {
        margin-left: auto;
        margin-right: auto;
    }

    #page-trip .section {
        padding: 8rem 0 1rem;
    }

    #page-trip .section-title,
    #page-trip .section-title-center {
        font-size: var(--h1-font-size);
    }


}

@media (max-width: 1024px) {
    #page-trip header::before {
        background-size: 30vw;
        background-repeat: no-repeat;
    }
}