#page-moto-user button {
    all: unset;
    box-sizing: border-box;
    font-size: 1.3rem;
}

#page-moto-user a {
    text-decoration: none;
    color: var(--purple);
    font-weight: 700;
    font-size: 1.3rem;
}

#page-moto-user a:hover {
    text-decoration: underline;
}

#page-moto-user p {
    font-size: 1.5rem;
    display: inline-flex;
}

#page-moto-user {
    zoom: .6;
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#page-moto-user .flex>* {
    flex: 1;
}

#page-moto-user .flex {
    display: flex;
    flex: 1;
}

#page-moto-user>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4rem 11.2rem;
}

#page-moto-user img {
    flex-basis: 60%;
    width: 100%;
    object-fit: cover;
}

#page-moto-user header img {
    width: 16rem;
    height: 5.4rem;
}

#page-moto-user>div {
    padding: 4rem 7rem;
}

#page-moto-user main {
    margin-top: 11.4rem;
    max-width: 38.4rem;
}

#page-moto-user .headline {
    /* max-width: 35rem; */
    margin-top: -10rem;
    font-weight: 500;
}

#page-moto-user h1 {
    font-size: 3.6rem;
    line-height: 5.5rem;
    color: var(--text);
}

#page-moto-user h1+p {
    color: var(--grey);
    margin-top: 1.6rem;
}

#page-moto-user form {
    flex-basis: 50%;
    margin-top: -1rem;
    margin-top: 3rem;
}

#page-moto-user .input-wrapper {
    position: relative;
    font-size: 1.4rem;
}

#page-moto-user .input-wrapper+.input-wrapper {
    margin-top: 1.6rem;
}

#page-moto-user .input-wrapper label {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--text);
}

#page-moto-user .input-wrapper .label-wrapper {
    justify-content: space-between;
}

#page-moto-user .input-wrapper .label-wrapper label+a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

#page-moto-user .input-wrapper input::placeholder {
    color: var(--grey);
}

#page-moto-user .input-wrapper input {
    width: 100%;
    background: var(--background);
    border: 0.1rem solid #e2e8f0;
    border-radius: 0.4rem;
    padding: 1.6rem 1.2rem;
    margin-top: 0.8rem;
    line-height: 2.1rem;
    color: var(--grey);
    font: var(--body-font);
}

#page-moto-user .input-wrapper input:focus,
#page-moto-user .input-wrapper input:hover {
    border: 0.1rem solid var(--purple);
    outline: 0;
}

#page-moto-user .input-wrapper input:disabled {
    opacity: 0.35;
}

#page-moto-user .input-wrapper .eye {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 55%;
    right: 5%;
}

#page-moto-user .input-wrapper .hide {
    display: none;
}

#page-moto-user .input-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#page-moto-user form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.4rem;
    background: var(--purple);
    border-radius: 0.4rem;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    margin-block: 3.2rem;
    cursor: pointer;
    transition: .3s;
}

#page-moto-user form button:focus {
    outline: 0.2rem solid black;
    border-radius: 0.2rem;
}

#page-moto-user form button:hover {
    background: #8145fa;
}

#page-moto-user .create-account {
    color: var(--grey);
    font-weight: 500;
}

@media (max-width: 900px) {
    #page-moto-user>* {
        width: 100%;
    }

    #page-moto-user img {
        display: none;
    }

    #page-moto-user>div {
        padding: 11rem;
    }

    #page-moto-user main {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    #page-moto-user>div {
        padding: 4rem;
    }
}