:root {
  --header-height: 4.5rem;

  --hue: 159;
  
  --pink: #CF3460;
  --blue: #23C7A8;
  --purple: #7834FF;
  --grey: #94A3B8;
  --text: #202020;
  --text-color: #868686;
  --text-color-light: #ffffff;
  --body-color: #FAFAFA;

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {

  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

border {
  outline-color: none;
  outline: none;
}