 #page-profile-passenger .section {
#page-profile-passenger .section {
    margin-top: -6rem;
}

#page-profile-passenger .header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

#page-profile-passenger .section-title {
    font-size: var(--h3-font-size);
    color: var(--text);
}

#page-profile-passenger .container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

#page-profile-passenger .grid {
    display: grid;
}

#page-profile-passenger .main {
    overflow: hidden;
}

#page-profile-passenger .main-w3layouts {
    padding: 3em 0 1em;
}

#page-profile-passenger .main-agileinfo {
    max-width: 968px;
    width: 100%;
    height: 80%;
    margin: 3em auto;
    background: var(--body-color);
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
}

#page-profile-passenger .agileits-top {
    padding: 2em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    background: var(--background);
    border: 0.1rem solid #e2e8f0;
    border-radius: 0.4rem;
    padding: 1rem 1rem;
    color: var(--text);
    font: var(--body-font);
}

input:focus,
input:hover {
    border: 0.1rem solid var(--pink);
    outline: 0;
}

input.email,
input.text.w3lpass {
    margin: 1.4em 0;
}

#page-profile-passenger button[type="submit"] {
    width: 15%;
    margin: 2em 0;
    padding: 1rem 1rem;
    outline: none;
    display: inline-block;
    background-color: var(--pink);
    color: #FFF;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    font-family: var(--body-font);
    transition: .5s;
    cursor: pointer;
}

#page-profile-passenger .button-flex:focus {
    outline: 0.2rem solid var(--pink);
    border-radius: 0.2rem;
}

#page-profile-passenger .button-flex:hover {
    background-color: rgb(223, 73, 123);
}


@media screen and (max-width: 320px) {
    #page-profile-passenger .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

@media screen and (min-width: 767px) {
    #page-profile-passenger body {
        margin: 0;
    }
}


@media screen and (min-width: 992px) {
    #page-profile-passenger .container {
        margin-left: auto;
        margin-right: auto;
    }

    #page-profile-passenger .section {
        padding: 8rem 0 1rem;
    }

    #page-profile-passenger .section-title,
    #page-profile-passenger .section-title-center {
        font-size: var(--h1-font-size);
    }

}