#page-all-users html {
  scroll-behavior: smooth;
}

#page-all-users body,
#page-all-users button,
#page-all-users input,
#page-all-users textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

#page-all-users body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

#page-all-users button {
  cursor: pointer;
  border: none;
  outline: none;
}

#page-all-users h1,
#page-all-users h2,
#page-all-users h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

#page-all-users ul {
  list-style: none;
}

#page-all-users a {
  list-style: none;
  text-decoration: none;
}

#page-all-users img {
  max-width: 100%;
  height: auto;
}

#page-all-users .nav-btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

#page-all-users .section {
  padding: 5.5rem 0 1rem;
}

#page-all-users .section-title,
#page-all-users .section-title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

#page-all-users .section-title-center {
  text-align: center;
}

#page-all-users .container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

#page-all-users .grid {
  display: grid;
}

#page-all-users .main {
  overflow: hidden;
}

#page-all-users .header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

#page-all-users .nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-all-users .nav-logo,
#page-all-users .nav-toggle,
#page-all-users .nav-close {
  color: var(--title-color);
}

#page-all-users .nav-logo {
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

#page-all-users .nav-logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

#page-all-users .nav-logo:hover {
  color: var(--first-color);
}

#page-all-users .nav-toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #page-all-users .nav-menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

#page-all-users .nav-close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

#page-all-users .nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

#page-all-users .nav-link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

#page-all-users .nav-link:hover {
  color: var(--first-color);
}

#page-all-users .show-menu {
  right: 0;
}

#page-all-users .scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

#page-all-users .home {
  margin-top: -6rem;
}

#page-all-users .home-container {
  position: relative;
  row-gap: 2rem;
}

#page-all-users .home-img {
  width: 200px;
  justify-self: center;
}

#page-all-users .home-title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

#page-all-users .home-description {
  margin-bottom: var(--mb-2-5);
}

#page-all-users .button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

#page-all-users .button:hover {
  background-color: var(--first-color-alt);
}

#page-all-users .button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

#page-all-users .button-link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

#page-all-users .about-container {
  row-gap: 2rem;
}

#page-all-users .about-img {
  width: 280px;
  justify-self: center;
}

#page-all-users .about-title {
  margin-bottom: var(--mb-1);
}

#page-all-users .about-description {
  margin-bottom: var(--mb-2);
}

#page-all-users .about-details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

#page-all-users .about-details-description {
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

#page-all-users .abou-details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

#page-all-users .ri-checkbox-fill {
  color: var(--first-color-light);
}

#page-all-users .steps-bg {
  background-color: var(--body-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

#page-all-users .steps-container {
  gap: 2rem;
  padding-top: 1rem;
}

#page-all-users .steps-title {
  color: var(--title-color);
}

#page-all-users .steps-card {
  background-color: var(--body-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

#page-all-users .steps-card-number {
  display: inline-block;
  background-color: #7834FF;
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

#page-all-users .steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

#page-all-users .steps-card-description {
  font-size: var(--small-font-size);
}

#page-all-users .steps-card:hover .steps-card-number {
  transform: translateY(-.25rem);
}


#page-all-users .faq-container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

#page-all-users .faq-group {
  display: grid;
  row-gap: 1.5rem;
}

#page-all-users .faq-item {
  background-color: var(--container-color);
  border-radius: .25rem;
}

#page-all-users .faq-item-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

#page-all-users .faq-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

#page-all-users .faq-description {
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

#page-all-users .faq-header {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

#page-all-users .faq-content {
  overflow: hidden;
    transition: height 0.3s ease;
}

#page-all-users .faq-item,
#page-all-users .faq-header,
#page-all-users .faq-item-title,
#page-all-users .faq-icon,
#page-all-users .faq-description,
#page-all-users .faq-content {
  transition: .3s;
}

#page-all-users .faq-item:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

#page-all-users .accordion-open .faq-header,
#page-all-users .accordion-open .faq-content {
  background-color: var(--first-color);
}

#page-all-users .accordion-open .faq-item-title,
#page-all-users .accordion-open .faq-description,
#page-all-users .accordion-open .faq-icon {
  color: #FFF;
}

#page-all-users .accordion-open .faq-icon {
  transform: rotate(45deg);
}

::-webkit-scrollbar {
  width: .6rem;
  background: rgba(215, 215, 215, 0.667);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 87%);
  border-radius: .5rem;
}


@media screen and (max-width: 320px) {
  #page-all-users .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  #page-all-users .home-img {
    width: 180px;
  }

  #page-all-users .home-title {
    font-size: var(--h1-font-size);
  }

  #page-all-users .steps-bg {
    padding: 2rem 1rem;
  }

  #page-all-users .steps-card {
    padding: 1.5rem;
  }

}

@media screen and (min-width: 576px) {
  #page-all-users .steps-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  #page-all-users body {
    margin: 0;
  }

  #page-all-users .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  #page-all-users .nav-toggle,
  #page-all-users .nav-close {
    display: none;
  }

  #page-all-users .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }

  #page-all-users .nav-menu {
    margin-left: auto;
  }

  #page-all-users .home-container,
  #page-all-users .about-container,
  #page-all-users .faq-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #page-all-users .home {
    padding: 10rem 0 5rem;
  }

  #page-all-users .home-container {
    align-items: center;
  }

  #page-all-users .home-img {
    width: 280px;
    order: 1;
  }

  #page-all-users .home-social {
    top: 30%;
  }

  #page-all-users .faq-container {
    align-items: flex-start;
  }

}

@media screen and (min-width: 992px) {
  #page-all-users .container {
    margin-left: auto;
    margin-right: auto;
  }

  #page-all-users .section {
    padding: 8rem 0 1rem;
  }

  #page-all-users .section-title,
  #page-all-users .section-title-center {
    font-size: var(--h1-font-size);
  }

  #page-all-users .home {
    padding: 13rem 0 5rem;
  }

  #page-all-users .home-img {
    width: 900px;
  }

  #page-all-users .home-description {
    padding-right: 7rem;
  }

  #page-all-users .about-img {
    width: 900px;
  }

  #page-all-users .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #page-all-users .steps-bg {
    padding: 3.5rem 2.5rem;
  }

  #page-all-users .steps-card-title {
    font-size: var(--normal-font-size);
  }

  #page-all-users .faq-container {
    padding: 1rem 0 4rem;
  }

  #page-all-users .faq-title {
    text-align: initial;
  }

  #page-all-users .faq-group {
    row-gap: 2rem;
  }

  #page-all-users .faq-header {
    padding: 1rem;
  }

  #page-all-users .faq-description {
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

}

@media screen and (min-width: 1200px) {
  #page-all-users .home-social {
    right: -3rem;
    row-gap: 4.5rem;
  }

  #page-all-users .about-container {
    column-gap: 7rem;
  }

  #page-all-users footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

}